:root {
  --black: #2c2c54;
  --orange: #ff9f1a;
  --light-gray: #f5f5f5;
}


.aliments-page {
  font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
  }
  
  .aliments-page h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .aliments-page p {
    font-size: 18px;
    color: #555;
  }


  
  /* Barre de navigation des catégories */
  .category-nav {
    display: flex;
    justify-content: center;
    background-color: var(--orange);
    padding: 20px 50px;
    padding-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
    position: sticky;
    top: 0;
    z-index: 100;
    gap: 200px;

  }
  
  .category-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    margin: 0 15px;
    cursor: pointer;
    text-transform: uppercase;
    transition: color 0.3s ease;
  }
  
  .category-btn:hover,
  .category-btn.active {
    color: var(--black);
    font-weight: bold;
  }
  
  /* Contenu pour d'autres catégories */
  .category-content {
    padding: 2rem;
    text-align: center;
    font-size: 1.2rem;
  }
  
  .category-content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  

  .noel-container {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  
  .noel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    font-size: 18px;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .noel-btn-left {
    left: 10px;
  }
  
  .noel-btn-right {
    right: 10px;
  }
  
  .noel-images {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
  }
  
  .noel-image-item {
    flex: 0 0 30%;
    text-align: center;
  }
  
  .noel-image {
    width: 100%;
    border-radius: 15px;
    transition: transform 0.3s;
  }
  
  .noel-image:hover {
    transform: scale(1.05);
  }
  
  .noel-image-title {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
  }
  