:root {
  --black: #2c2c54;
  --orange: #ff9f1a;
  --light-gray: #f5f5f5;
}

.cosmetics-page {
    font-family: Arial, sans-serif;
    background-color: var(--light-gray);
    padding: 30px;
    margin: 0;
    margin-top: 4%;
  }
  
  .cosmetics-page h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .cosmetics-page p {
    font-size: 18px;
    color: #555;
  }
  
