/* Conteneur global de la page */
.containner-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #fff;
}

/* Première page */
.scanner-page {
  position: relative;
  background: linear-gradient(to right, #b49567, #e67e22);
  width: 90%;
  max-width: 600px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

/* Conteneur de l'entête */
.scanner-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.scanner-header h1 {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  margin-left: 60px;
}

.return-button {
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.return-button i {
  font-size: 1.2rem;
}
.return-button svg {
  width: 24px;
  height: 24px;
}

.scanner-header .return-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
}

.divider {
  background: #000;
  height: 3px;
  margin: 10px 0;
  width: 100%;
}

/* Deuxième page (scanner) */
.scanner-container {
  background: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scanner {
  width: 100%;
  max-width: 420px;
  height: auto;
  border: 5px solid #020a16;
  border-radius: 10px;
  margin-bottom: 25px;
}

#start-scan {
  margin-top: 20px;
  cursor: pointer;
  background-color: #D97706;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#start-scan:hover {
  background-color: #b45309;
}

#result {
  font-size: 18px;
  font-weight: bold;
  color: #374151;
  margin-top: 20px;
}
