.container1 {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;
  height: 100vh;
  width: 100%; 
  position: relative;
  overflow: hidden;
  margin-top: 80px;
  padding-left: 14%;
}


.left-section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  z-index: 1; 
}

.left-section1 h1 {
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 20px;
}

.left-section1 p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.left-section1 button {
  padding: 10px 20px;
  background-color: #D97706;
  color: white;
  border: none;
  border-radius: 30%;
  font-size: 1rem;
  cursor: pointer;
  
}

.left-section1 button:hover {
  background-color: #b45309;
}

/* Section de droite (image) */
.right-section1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-section1 img {
  width: 80%; 
  max-width: 400px; 
  object-fit: cover; 
  border-radius: 10px;
}


.background-image-contain1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  z-index: -1; 
}

.background-imag1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.left-section1 .bout{
  box-shadow: 5px 5px 10px rgba(148, 69, 16, 0.3);
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.left-section1 .bout:hover {
  box-shadow: 10px 10px 20px rgba(180, 89, 47, 0.4); /* Ombre plus grande */
  transform: translateY(-2px); /* Déplace légèrement le bouton vers le haut */
}