body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Adaptation pour les écrans plus petits */
@media (max-width: 768px) {
  .nav-links {
    gap: 10px;
    font-size: 14px;
  }
}
/* Footer */
.footer {
  background-color: #a54a0a; /* Marron clair à foncé */
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  width: 100%;
  
}


.about-link {
  transition: color 0.3s ease-in-out; /* Animation fluide pour le hover */
}

.about-link:hover {
  color: #d4af37; 
}